# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# FastAPI / logs
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.sqlite3
*.db